* {

	margin: 0;
}



body{

	color: #797979;
	font-family: 'Lato', sans-serif;
}


article{
	position: absolute;
	float: left;
	margin-left: 15%;
	top: 10%;
}


#menu{

	position: fixed;
	box-shadow: 0.5px 0.5px 0.5px 1px #ededed;
	width: 10%;
	height: 100%;


}


ul{

	padding-top: 20%;
	margin-top: 20%;
	margin-left: -5%;

}


a:link{

	text-decoration: none;
	color: #666;

}


a:visited{

	color: #666

}

a:hover{

	color: #007fff;

}



/* H1 */
h1{
	color: #333

}